@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    background-image: url(./img/fondo.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: content-box;
    color: white;
    font-family: "Patrick Hand";
}
#titulo img {
    width: 90%;
    max-width: 600px;
}
#titulo {
    background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(0,0,0,0.165703781512605) 47%);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#titulo p {
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 22px;

}
#titulo button {
    background: #17aebf;
    border: 2px solid #D4D94E;
    border-radius: 10px;
    color:#D4D94E ;
    padding: 10px 15px;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
    font-family: "Patrick Hand";
    letter-spacing: 1px;
}
#titulo div#description {
    margin-left: 20px;
}
#botones {
    align-self: flex-end;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
}
div#filterByLetter {
    margin-bottom: 30px;
}
.d-none {
    display: none;
}
div.views {
    max-width: 1100px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}
div#viewCharacters button {
    background-color: transparent;
    color: #0df205;
    margin: 5px;
    font-size: x-large;
    border: none;
    font-weight: bold;
    text-shadow: 3px 3px 5px #0df205;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}
div#viewCharacters button:focus {
    outline: none;
}
div#contCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.card-character {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: #0df205;
    font-size: larger;
    font-weight: bold;
    margin: 10px;
    width: 170px;
}
div.card-character p {
    align-self: center;
}
div.card-character img {
    width: 150px;
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
  }
  
 
  .modal-content {
    background-color: black;
    margin: 15% auto; 
    padding: 20px;
    border: none;
    width: 600px;
    border-radius: 15px; 
    
  }
  
  .close {
    color: #F2E205;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
#containerinfo{
    display: flex;
    flex-direction: row;
}
#containerinfo img{
    width: 150px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.information{
    font-size:larger;
    font-weight: bold;
    text-align: start;
}
#name{
    font-size: x-large;
    font-weight: bold;
    color: #F2E205;
    display: flex;
    justify-content: flex-start;
}
.value{font-size:larger;
    
}
div#containerinfo div#detailsCharacters{
    text-align: start;
}
.menu{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .menu button, .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#0df205;
    display: block;
    transition: 0.3s;
    border: none;
    background-color: #111;
    font-family: "Patrick Hand";
    cursor: pointer;
  }
  
  .menu button:hover, .menu a:hover {
    color: #F2E205;
  }
  .menu button:focus, .menu a:focus {
    outline: none;
  }
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #openNav{
      cursor: pointer;
      display: none;
      margin: 10px;
      padding: 10px;
  }
  #openNav div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  #nameEpisodes{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .episodesbtn {
    background-color: #F2E205;
    color:black;
    padding: 12px 18px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-family: "Patrick Hand";
    font-weight: bold;
    margin-top: 20px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2E205;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  .dropdown-content a:hover {background-color:black;
     color: #F2E205
    }
  .dropdown:hover .dropdown-content {display: block;}
  
  button.desplegable {
    background-color: black;
    color: #17aebf;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    margin: 10px 0;
    font-size: x-large;
    font-family: "Patrick Hand";
    font-weight: bold;
    position: relative;
  }
  /* button.desplegable::after {
      content: '\02795';
      position: absolute;
      top: 15px;
      right: 20px;
  }
  .active::after {
    content: '\2796';
    position: absolute;
    top: 15px;
    right: 20px;
  } */

  div.subdesplegable {
      padding: 0;
      background-color: transparent;
      display: none;
      overflow: hidden;
      font-size: larger;
      text-align: start;
      /*border-radius: 10px;*/
      cursor: pointer;
      margin: 0 auto;
  }
  div.subdesplegable button {
      margin: 0;
      padding: 18px;
      background-color: #17aebf;
      color: black;
  }
  div.subdesplegable button:hover {
      background-color: black;
      color: #17aebf;
  }

div.listCharacters {
  padding: 10px;
  margin: 10px 0;
  background-color: black;
  /*display: flex;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div.listCharacters div {
  width: 120px;
  margin: 5px;
}
div.listCharacters img {
  width: 100px;
  padding: 10px;
}
div.listCharacters p {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 100%;
}
#viewEpisodes{display: none;}
#viewEpisodes button {
    color:  #0df205;
}

@media screen and (max-width: 570px) {
    #titulo p {
        text-align: center;
    }
    div.card-character {
        width: 130px;
        margin: 5px;
    }
    div.card-character img {
        width: 110px;
    }
    .modal-content {
        width: 70%;
    }
    #information{
        font-size:20px;
    }
    #name{
        font-size: 20px;
    }
    .menu a {font-size: 22px;}
    #containerinfo img{
        width: 50%;
       height:50%;
       
    }
}

@media screen and (min-width: 700px) {
    #titulo p {
        width: 50%;
    }
}

@media screen and (max-width:379px){
    div.card-character {
        width: 110px;
        margin: 4px;
    }
    div.card-character img {
        width: 90px;
    }
    #containerinfo img{
        width: 30%;
       height:30%;
    }
    #nameEpisodes{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    
    .modal-content {
        width: 70%;
    }
    #containerinfo img{
        width: 40%;
       
    }
}