body {
    background-image: url(./img/fondo.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: content-box;
    color: white;
}
#titulo img {
    width: 90%;
    max-width: 600px;
}
#titulo {
    background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(0,0,0,0.165703781512605) 47%);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#titulo p {
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}
#titulo button {
    background: #17aebf;
    border: 2px solid #D4D94E;
    border-radius: 10px;
    color:#D4D94E ;
    padding: 10px 15px;
    margin: 15px;
    font-weight: bold;
    font-size: large;
    width: 150px;
}
#titulo div#description {
    margin-left: 20px;
}
#botones {
    align-self: flex-end;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
}
.d-none {
    display: none;
}
div#viewCharacters {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
}
@media screen and (max-width: 570px) {
    #titulo p {
        text-align: center;
    }
}

@media screen and (min-width: 700px) {
    #titulo p {
        width: 50%;
    }
}